:root {
	--primary: #3dc803;
}

.timeline__container {
	display: flex;
	border-bottom: 1px solid #3b3b3b;
}

.timeline__buttons__container {
	display: flex;
	align-items: center;
}

.timeline__button {
	font-weight: bold;
	padding: 20px 10px 20px 10px;
	cursor: pointer;
}

.timeline__button:hover {
	color: var(--primary);
}

.timeline__button.active {
	color: var(--primary);
	border-bottom: 2px solid var(--primary);
}
